<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="Google.Api.Gax" version="1.0.0-beta04" targetFramework="net452" />
  <package id="Google.Api.Gax.Rest" version="1.0.0-beta04" targetFramework="net452" />
  <package id="Google.Apis" version="1.18.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.18.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.18.0" targetFramework="net452" />
  <package id="Google.Apis.Storage.v1" version="1.18.0.658" targetFramework="net452" />
  <package id="Google.Storage.V1" version="1.0.0-beta04" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net452" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="System.Collections" version="4.0.11" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package id="System.Diagnostics.Tools" version="4.0.1" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.1.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.0-rc2" targetFramework="net452" />
  <package id="System.IO" version="4.1.0" targetFramework="net452" />
  <package id="System.IO.Compression" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net452" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net452" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net452" />
  <package id="System.Reflection.Primitives" version="4.0.1" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net452" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net452" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.11" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net452" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net452" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net452" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>