@model TranslatorUI.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.Translations == null || Model.Translations.Count < 1) {
        <span>No translations found yet.</span>
    }
</div>
