@model TranslatorUI.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p><form id="translate-form" method="post" enctype="multipart/form-data"> 
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="SourceText"></label>
            <input asp-for="SourceText" class="form-control" />
            <span asp-validation-for="SourceText" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success" id="submit-button">Submit</button>
    </form></p>

    @if (Model.SourceText != null) 
    {
        <p>Your request to translate @Model.SourceText was submitted.</p>
    }

    @if (Model.Translations == null || Model.Translations.Count < 1) {
        <p>No translations found yet.</p>
    } else {
        <p>Recent translations:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr><th>Source</th><th>Translation</th></tr>
            </thead>
            <tbody>
                @foreach (Translation tx in Model.Translations) {
                    <tr><td>@tx.SourceText</td><td>@tx.TranslatedText</td></tr>
                }
            </tbody>
        </table>
    }
</div>
