bin/
obj/
packages/
*.suo
.nuget/
TestResults/
*TestResults.xml
*sponge_log.xml
*.csproj.user
.idea/
*.iml
PublishProfiles/
*.sln.DotSettings.user
.vs/
*~
*.xproj.user
project.lock.json
.vscode/
secrets.ps1
google_application_credentials.json
**/Properties/launchSettings.json
**/wwwroot/lib/
**/kmsCipher.key
/tmpB19A.tmp
/dlp/tmp6849.tmp
env/