bin/
obj/
packages/
*.suo
.nuget/
TestResults/
*.csproj.user
.idea/
*.iml
PublishProfiles/
*.sln.DotSettings.user
.vs/
*~
*.xproj.user
project.lock.json
.vscode/
secrets.ps1
google_application_credentials.json
**/Properties/launchSettings.json
