*           @amanda-tarafa

bigquery/   @jsimonweb
bigtable/   @GoogleCloudPlatform/bigtable-dpe
datastore/  @GoogleCloudPlatform/firestore-dpe
cloud-sql/  @GoogleCloudPlatform/cloud-sql-dpes
firestore/  @GoogleCloudPlatform/firestore-dpe
storage/    @GoogleCloudPlatform/storage-dpe
applications/leaderboard/   @jsimonweb

spanner/       @skuruppu

kms/           @sethvargo
secretmanager/ @sethvargo

applications/liftAndShiftPetshop/   @simonz130

applications/googlehome-meets-dotnetcontainers/ @meteatamel

applications/sudokumb   @SurferJeffAtGoogle
