@model IEnumerable<Tuple<IFormFile, AnnotateImageResponse>>
@{
    ViewData["Title"] = "Naughty Image Checker";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@if (0 == Model.Count()) {
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Naughty">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form.  I'll report if they're naughty.</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p></p>
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
} else {
    <ul>
    @foreach (var fileResponse in Model) {
        <li>@fileResponse.Item1.FileName</li>
    }
    </ul>
}

