@{
// Copyright 2017 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
}
@model RedisCache.ViewModels.WhoCount
    
<H1>Redis Incrementer Sample</H1>
@if (Model.MissingRedisEndpoint) 
{
    <p>Set the configuration variable RedisEndpoint to your Redis endpoint.</p>
    <p>See the README.md in the project directory for more information.</p>
}
else
{
    <p>
    Click the button to increment a counter in Redis.<br>
    Current count: <span id="CurrentCount">@Model.Count</span><br>
    Last incremented by: <span id="LastIncrementedBy">@Model.Who</span><br>
    </p>
    <form asp-controller="Home" asp-action="Index" id="WhoForm">
        <label for="who">Your name:</label>
        <input asp-for="Who" />
        <button id="Submit" type="submit">Increment</button>
    </form>
    <form method="POST" asp-controller="Home" asp-action="Reset">
        <button id="Reset" type="submit">Reset</button>
    </form>
}