<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="1.0.1" targetFramework="net452" />
  <package id="Google.Api.Gax.Rest" version="1.0.1" targetFramework="net452" />
  <package id="Google.Apis" version="1.24.1" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.24.1" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.24.1" targetFramework="net452" />
  <package id="Google.Cloud.Translation.V2" version="1.0.0-alpha01" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>