<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="2.2.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="3.2.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="3.2.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc.GrpcCore" version="3.2.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net472" />
  <package id="Google.Cloud.Diagnostics.AspNet" version="4.0.0" targetFramework="net472" />
  <package id="Google.Cloud.Diagnostics.Common" version="4.2.0" targetFramework="net472" />
  <package id="Google.Cloud.ErrorReporting.V1Beta1" version="2.0.0-beta03" targetFramework="net472" />
  <package id="Google.Cloud.Logging.Type" version="3.2.0" targetFramework="net472" />
  <package id="Google.Cloud.Logging.V2" version="3.2.0" targetFramework="net472" />
  <package id="Google.Cloud.Trace.V1" version="2.1.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.15.6" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.37.0-pre1" targetFramework="net472" />
  <package id="Grpc.Core" version="2.37.0-pre1" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.37.0-pre1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="3.10.0-1.final" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="5.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="System.Linq.Async" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0-preview.2.21154.6" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>