<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="Google.Api.CommonProtos" version="1.0.0-beta01" targetFramework="net452" />
  <package id="Google.Api.Gax" version="1.0.0-beta01" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.14.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.14.0" targetFramework="net452" />
  <package id="Google.Datastore.V1Beta3" version="1.0.0-beta01" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0-beta3" targetFramework="net452" />
  <package id="Grpc.Auth" version="0.15.0" targetFramework="net452" />
  <package id="Grpc.Core" version="0.15.0" targetFramework="net452" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
</packages>