<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
	<add name="SQLConnString1" connectionString="server=(local);user id=mspetshop;password=pass@word1;database=MSPetShop4;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
	<add name="SQLConnString2" connectionString="server=(local);user id=mspetshop;password=pass@word1;database=MSPetShop4;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
	<add name="SQLConnString3" connectionString="server=(local);user id=mspetshop;password=pass@word1;database=MSPetShop4Orders;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
	<add name="SQLMembershipConnString" connectionString=""/>
    <add name="SQLProfileConnString" connectionString=""/>
    <add name="OraConnString1" connectionString=""></add>
    <add name="OraConnString2" connectionString=""></add>
    <add name="OraConnString3" connectionString=""></add>
    <add name="OraProfileConnString" connectionString=""></add>
    <add name="OraMembershipConnString" connectionString=""></add>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="PetShop.SQLServerDAL"/>
    <add key="OrdersDAL" value="PetShop.SQLServerDAL"/>

    <!-- Order Asynch/Synch -->
    <add key="OrderStrategyAssembly" value="PetShop.BLL" />
    <add key="OrderStrategyClass" value="PetShop.BLL.OrderSynchronous" />

    <!-- Asynchronous Order options -->
    <add key="OrderMessaging" value="PetShop.MSMQMessaging" />
    <add key="OrderQueuePath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>

    <!-- Batch Processing options -->
    <add key="ThreadCount" value="2" />
    <add key="BatchSize" value="10" />
    <add key="QueueTimeout" value="20" />
    <add key="TransactionTimeout" value="30" />
  </appSettings>
</configuration>