<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <!-- Local Sql Server settings
    <add name="SQLProfileConnString" connectionString="server=.\sqlexpress;user id=petshop;password=ThisIsPetshop;database=MSPetShop4Profile;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
    <add name="SQLMembershipConnString" connectionString="server=.\sqlexpress;user id=petshop;password=ThisIsPetshop;database=MSPetShop4Services;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString1" connectionString="server=.\sqlexpress;user id=petshop;password=ThisIsPetshop;database=MSPetShop4;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString2" connectionString="server=.\sqlexpress;user id=petshop;password=ThisIsPetshop;database=MSPetShop4;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString3" connectionString="server=.\sqlexpress;user id=petshop;password=ThisIsPetshop;database=MSPetShop4Orders;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
    -->
    <!-- GCE Sql Server Settings with external IP  -->
    <add name="SQLProfileConnString" connectionString="server=35.230.13.118;user id=petshop;password=ThisIsPetshop;database=MSPetShop4Profile;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
    <add name="SQLMembershipConnString" connectionString="server=35.230.13.118;user id=petshop;password=ThisIsPetshop;database=MSPetShop4Services;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString1" connectionString="server=35.230.13.118;user id=petshop;password=ThisIsPetshop;database=MSPetShop4;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString2" connectionString="server=35.230.13.118;user id=petshop;password=ThisIsPetshop;database=MSPetShop4;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
    <add name="SQLConnString3" connectionString="server=35.230.13.118;user id=petshop;password=ThisIsPetshop;database=MSPetShop4Orders;min pool size=4;max pool size=4;packet size=1024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WebDAL" value="PetShop.SQLServerDAL"/>
    <add key="OrdersDAL" value="PetShop.SQLServerDAL"/>
    <add key="ProfileDAL" value="PetShop.SQLProfileDAL"/>
    <!-- Enable data caching -->
    <add key="EnableCaching" value="false"/>
    <!-- Cache duration (in hours-whole number only) -->
    <add key="CategoryCacheDuration" value="12"/>
    <add key="ProductCacheDuration" value="12"/>
    <add key="ItemCacheDuration" value="12"/>
    <!-- Cache dependency options. Possible values: PetShop.TableCacheDependency - SQL Server and keep empty for ORACLE -->
    <add key="CacheDependencyAssembly" value="PetShop.TableCacheDependency"/>
    <!-- CacheDatabaseName should match the name under caching section, when using TableCacheDependency -->
    <add key="CacheDatabaseName" value="MSPetShop4"/>
    <!-- *TableDependency lists table dependency for each instance separated by comma -->
    <add key="CategoryTableDependency" value="Category"/>
    <add key="ProductTableDependency" value="Product,Category"/>
    <add key="ItemTableDependency" value="Product,Category,Item"/>
    <!-- Order processing options (Asynch/Synch) -->
    <add key="OrderStrategyAssembly" value="PetShop.BLL"/>
    <add key="OrderStrategyClass" value="PetShop.BLL.OrderSynchronous"/>
    <!-- Asynchronous Order options -->
    <add key="OrderMessaging" value="PetShop.MSMQMessaging"/>
    <add key="OrderQueuePath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>
    <!-- Application Error Log -->
    <add key="Event Log Source" value=".NET Pet Shop 4.0"/>
  </appSettings>
  <system.web>
    <pages theme="PetShop" styleSheetTheme="PetShop"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <!--
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        -->
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
         -->
    <authentication mode="Forms">
      <forms name="PetShopAuth" loginUrl="SignIn.aspx" protection="None" timeout="60"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/>
    <sessionState mode="Off"/>
    <anonymousIdentification enabled="true"/>
    <profile automaticSaveEnabled="false" defaultProvider="ShoppingCartProvider">
      <providers>
        <add name="ShoppingCartProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
        <add name="WishListProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
        <add name="AccountInfoProvider" connectionStringName="SQLProfileConnString" type="PetShop.Profile.PetShopProfileProvider" applicationName=".NET Pet Shop 4.0"/>
      </providers>
      <properties>
        <add name="ShoppingCart" type="PetShop.BLL.Cart" allowAnonymous="true" provider="ShoppingCartProvider"/>
        <add name="WishList" type="PetShop.BLL.Cart" allowAnonymous="true" provider="WishListProvider"/>
        <add name="AccountInfo" type="PetShop.Model.AddressInfo" allowAnonymous="false" provider="AccountInfoProvider"/>
      </properties>
    </profile>
    <membership defaultProvider="SQLMembershipProvider">
      <providers>
        <add name="SQLMembershipProvider" 
            type="System.Web.Security.SqlMembershipProvider" 
            connectionStringName="SQLMembershipConnString"
            applicationName=".NET Pet Shop 4.0" 
            enablePasswordRetrieval="false" 
            enablePasswordReset="true" 
            requiresQuestionAndAnswer="false" 
            requiresUniqueEmail="false" 
            passwordFormat="Hashed"/>
      </providers>
    </membership>
      <!--
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider" 
          type="PetShop.Membership.OracleMembershipProvider" 
          connectionStringName="OraMembershipConnString" 
          enablePasswordRetrieval="false" 
          enablePasswordReset="false" 
          requiresUniqueEmail="false" 
          requiresQuestionAndAnswer="false" 
          minRequiredPasswordLength="7" 
          minRequiredNonalphanumericCharacters="1" 
          applicationName=".NET Pet Shop 4.0" 
          hashAlgorithmType="SHA1" 
          passwordFormat="Hashed"/>
      </providers>
    </membership>
    -->
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="MSPetShop4" connectionStringName="SQLConnString1" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <location path="UserProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CheckOut.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
