<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="1.0.0-beta06" targetFramework="net452" />
  <package id="Google.Api.Gax.Rest" version="1.0.0-beta06" targetFramework="net452" />
  <package id="Google.Apis" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Storage.v1" version="1.18.0.658" targetFramework="net452" />
  <package id="Google.Cloud.Storage.V1" version="1.0.0-beta06" targetFramework="net452" />
  <package id="log4net" version="2.0.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>