# Format: //devtools/kokoro/config/proto/build.proto

# Download secrets from Cloud Storage.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/dotnet-docs-samples"

# All builds use the trampoline script to run in docker.
build_file: "dotnet-docs-samples/.kokoro-windows/trampoline3.bat"
